<form action="/" method="post" >
  Title:<br>
  <input type="text" name="title" value="Name"><br>
  Description:<br>
  <input type="text" name="description" value="Description"><br>
  Time to prepare (in h & m):<br>
  <input type="text" name="prep_time" value="1h 10m"><br>
  Ease to make:<br>
  <input type="radio" name="difficulty" value="easy" > Easy<br>
  <input type="radio" name="difficulty" value="medium" checked> Medium<br>
  <input type="radio" name="difficulty" value="hard"> Hard <br><br>
  <input type="submit" value="Submit">
</form>
